[2017-01-18 05:49] kirantpatil opened #1 "[How to] Steps to install"
Hi,

Please provide the steps to install this bundle on OH2.

How to test it with the device?

Thanks.

[2017-01-18 08:29] kirantpatil commented on #1
I zipped the directory as .zip file and then renamed as .jar file and added it to /opt/openhab2/addons directory and it is still not showing in console of karaf "bundle:list" as shown below

$ ls /opt/openhab2/addons/
org.openhab.binding.snavxbee2        <= git source code
org.openhab.binding.snavxbee2.jar   <= converted .zip file to .jar file
org.openhab.ui.iconset.climacons-2.0.0-SNAPSHOT.jar <=

[2017-01-18 14:13] g1velo commented on #1
I have uploaded the file [here ](https://github.com/g1velo/SNAVXbee2/blob/master/org.openhab.binding.snavxbee2_2.0.1.201701171601.jar)

[2017-01-18 14:17] g1velo commented on #1
Just put this file in the /addons directory
You should then see :

openhab> bundle:list
.
.
198 | Active   |  80 | 2.0.1.201701171601    | SNAVXbee2 Binding

You will need to add in the thing file :
Bridge snavxbee2:bridge:gateway[ serialPort="/dev/ttyUSB0", baudRate=9600 ]

You will need to adapt serialPort and baudRate to match your device.
to see more details about what it is doing :
openhab> l

[2017-01-18 14:24] kirantpatil commented on #1
Thank you Sir. I will test and revert back for any issues.

[2017-01-18 14:44] kirantpatil commented on #1
Please provide one sample item configured to either bulb or door to check for driving input from app to device.

Can we send commands to device using karaf? If there is one please provide. So that I can check communication between Openhab and device.

[2017-01-18 15:04] g1velo commented on #1
One small correction :
openhab> log:set **TRACE** org.openhab.binding.snavxbee2
openhab> log:tail

You can use discovery to discover new devices :
smarthome:discovery start snavxbee2

 Your xbee should be sending IOSampling Data and you should see it in the log.
the created thing should look like :

snavxbee2:sample:gateway:64BITADDRESS

Then you will need to add items using :
one of the supported

[2017-01-19 08:59] kirantpatil commented on #1
I am getting below error and no discovery is happening.

openhab> log:set TRACE org.openhab.binding.snavxbee2
openhab> smarthome:discovery start snavxbee2
openhab> log:tail
14:01:39.627 [INFO ] [.dashboard.internal.DashboardService] - Started dashboard at /start
14:01:39.808 [INFO ] [basic.internal.servlet.WebAppServlet] - Started Basic UI at /basicui/app
14:01:39.827 [INFO ] [arthome.ui.paper.int

[2017-01-19 09:11] kirantpatil commented on #1
xbee.thngs file added at /opt/openhab2/conf/things directory and its content as below.

Bridge snavxbee2:bridge:gateway[ serialPort="/dev/ttyUSB0", baudRate=9600 ]

[2017-01-19 09:51] kirantpatil commented on #1
Resolved the gnu.io import issue by using below link
https://github.com/openhab/openhab2-addons/pull/362#issuecomment-173125977

I am facing  two new issues as below.

error 1. while starting the openhab
error 2. after starting smarthome:discovery start operation

openhab> log:set TRACE org.openhab.binding.snavxbee2
openhab> smarthome:discovery start snavxbee2
openhab> log:tail
15:11:46.112 [INFO

[2017-01-19 14:03] kirantpatil opened #2 "Unable to create item at things discovered"
I am getting below issue.

Received HTTP PUT request at 'items/DefaultXBeeCOORDINATOR0013A20040E7782D00030000_SNAVXbee2BindingAD0DIO0Port' with an invalid item type 'SwitchItem'.

The item type shows only 'SwitchItem'.

[2017-01-20 05:38] kirantpatil commented on #2
I think code needs to be changed for itemtype in below file.
https://github.com/g1velo/SNAVXbee2/blob/cc17fac6d5cc2916e12551baaeea22d25cf0533d/org.openhab.binding.snavxbee2/ESH-INF/thing/thing-types.xml#L2

Other commit where this issue is resolved.
https://github.com/openhab/org.openhab.ui.habmin/pull/222/commits/7ec723c14f88bfc8f33915f2a045f66e14e2c2ac

[2017-01-20 05:43] kirantpatil commented on #2
I can change the source code but don't know how to build this bundle and jar file.

Can you please send me the steps to create bundle and its jar file ?

[2017-01-20 06:35] kirantpatil commented on #1
@g1velo, Please share your items configuration entries.

[2017-01-20 07:53] kirantpatil commented on #1
the items are saving using URL http://localhost:8080/rest/items/DefaultXBeeCOORDINATOR0013A20040E7782D00030000_SNAVXbee2BindingAD0DIO0Port.

I am not getting to see the file in /opt/openhab2/conf/items directory which is show in log file
13:16:41.272 [WARN ] [thome.io.rest.core.item.ItemResource] - Received HTTP PUT request at 'items/DefaultXBeeCOORDINATOR0013A20040E7782D00030000_SNAVXbee2BindingA

[2017-01-20 09:52] g1velo commented on #1
Hi,
First of all the Bridge has to be up before trying anything else.
the error :

[code]

make me think that you can't open you device with the Digi Xbee Java library. We have to solve this first..

[2017-01-20 10:07] kirantpatil commented on #1
Yes, can you please share your items configuration file contents ?

[2017-01-20 10:49] g1velo commented on #1
I don't see  the point to configure items as long as the SerialPort connection is not working..

[2017-01-20 12:05] kirantpatil commented on #1
I am also testing other way ie using digi XBee device as coordinator and REX3S as router.

XBee device with your binding is recognizing REX3S as device but not specifying it either as Router as shown below.

So I need the item configurations to check if I can send some commands to REX3S ("000D6F000BABC298") device.

[2017-01-20 12:12] kirantpatil commented on #1
Note: Coordinator is sending command 'b' as shown below in log file and it is getting received at REX3S device.

111 Synced  sending command : b to : 000D6F000BABC298

[2017-01-20 12:24] kirantpatil commented on #1
If I send some string from REX3S serial port and it is getting received at COORDINATOR as below from log file.

[code]

[2017-01-20 16:09] g1velo commented on #1
Ok ! So there would be a few things to fix in the code..

 During the discovery, I check the 'DD' parameter which is available for DIGI XBee devices. This value helps me to know what kind of device is connected. ( My first test was done with a TORS0xT device.
 From this 'DD' I applyy some configuration changes on the ADxDIOX port. ( So you may have to reconfigure it now.

I have to change the code

[2017-01-20 16:46] kirantpatil commented on #1
OK Sir. I will test it tomorrow and get back to you.

On Jan 20, 2017 9:39 PM, "g1velo" <notifications@github.com> wrote:

Ok ! So there would be a few things to fix in the code..

During the discovery, I check the 'DD' parameter which is available for
DIGI XBee devices. This value helps me to know what kind of device is
connected. ( My first test was done with a TORS0xT device.
From this 'DD' I a

[2017-01-21 07:21] kirantpatil commented on #1
I added items as below with Destination address as below.
Switch Xbee2switch "Xbee2switch" (All) { channel = "snavxbee2:sample:gateway:000D6F000BABC298:DIO12" }

But when I click on switch it is not sending any command to destination device.
Log file details:
[code]

Please let me know, what should I need to do.

[2017-01-24 09:54] kirantpatil commented on #1
Sir, please provide me any debug build, so that I can use it to report back the device characteristics.

[2017-01-31 10:36] kirantpatil opened #3 "[How To] Installation on Eclipse Smarthome"
Hi Sir,

Please provide us the way to compile the and test the code on [Eclipse Smarthome](https://github.com/eclipse/smarthome-packaging-sample).

Thanks.

[2017-01-31 11:52] kirantpatil commented on #3
snavxbee binding was expecting dependency gun.io to which I downloaded org.openhab.io.transport.serial-2.0.0.b3 jar file.

I added below jar files in " runtime/concierge/system/" directory and updated "runtime/concierge/smarthome.xargs" as below.

-istart ${system.dir}/org.openhab.io.transport.serial-2.0.0.b3*.jar
-istart ${system.dir}/org.openhab.binding.snavxbee2_2.0.1.201701171601*.jar

Now I a

[2017-02-07 10:00] kirantpatil commented on #3
I used https://github.com/maggu2810/smarthome-packaging-sample-karaf to run ESH.

I installed below jar files as below and run 'bin/karaf' to install them.

[code]

[code]

![screenshot from 2017-02-07 15 28 00](https://cloud.githubusercontent.com/assets/1178055/22686458/3c114052-ed4a-11e6-98a0-99cac7b587d1.png)

[2017-02-07 10:00] #3 closed, assigned to nobody

[2017-02-07 10:36] #1 closed, assigned to nobody

[2017-02-07 11:35] kirantpatil opened #4 "Submit to ESH"
Hi @g1velo,

Can you please submit this binding to ESH ?

So that it will become core bundle for ESH and can be used subsequently in Openhab as well.

Thanks.

[2017-02-08 12:46] kirantpatil commented on #2
I am closing this right now, since I am not getting it with XBee devices.

[2017-02-08 12:46] #2 closed, assigned to nobody

[2017-02-08 17:58] g1velo commented on #4
Hello,
I had a few holidays then a few issues with my laptop.
I have no idea about how to submit this to ESH, I can  try to find how to ... I think that I have a few improvements to do to the code as it is still in a very early stage.
Feel free to improve the current code !

[2017-02-09 09:22] kirantpatil commented on #4
Right now we are trying with XBee and it is discovering but finding issue to send command to END Device which is connected to XCTU from openhab app, will report it, after further investigation.

[2017-02-09 10:34] kirantpatil commented on #4
Regarding improvements, sure we will add. But we need to first make it upstream ie ESH. Post your improvements we can try to push to ESH.

[2017-02-09 13:52] amarpulli1994 opened #5 "Unable to send commands to End Device through Classic ui using OpenHAB2."
@g1velo
Hello,
I am trying to do send commands to end device through classic ui. But in my case unable to send commands  to End device and sending `111 Synced sending command : b to : 000D6F000BABC298` command every 6 minutes automatically without change state like ON to OFF, as below screen shot

![upload error](https://cloud.githubusercontent.com/assets/16384828/22785208/616e1068-eef9-11e6-837a-

[2017-02-10 11:26] amarpulli1994 opened #6 "Items Configuration by using SNAVXbee2"
@g1velo
Hello,
Can you please share the item configuration. My Item configuration like this
`Switch test_light               { channel = "snavxbee2:sample:gateway:0013A20041268524:DIO11" }`
Is there any wrong configurations, because it's not work for me. In my case Discovering process and everything done, but not able to send commands to end device. Every time send b command to end device.
Thanks,

[2017-02-10 16:50] g1velo commented on #6
Hi,
 the last part of the channel should be following the jave enum format :
http://ftp1.digi.com/support/documentation/html/90001439/com/digi/xbee/api/io/IOLine.html
in your case it should be DIO11_PWM1
I new to re set up my personal IDE to work again on this. Give ma one more week and it should work.

[2017-02-13 09:25] amarpulli1994 commented on #5
@g1velo

Will this also be resolved this week  after your changes?

Thanks

[2017-02-16 14:01] amarpulli1994 commented on #6
@g1velo
Hi,
Sorry for late response. I hope resolve my issue at SNAVXbee2 and also I have face the issue, how to define things in demo.things file , which are the  things connected to bridge. I mean define the things format. See as mentioned below

[code]

I did the clone your  project file. Then how to generate jar file. Is there any specific IDE for build jar file. I am waiting for your suggesti

[2017-02-16 15:36] g1velo commented on #6
Hi Amar,
I have commited the last version.  To generate the jar files you must select :
export
  Deployable plug-ins and Fragments
     Next .. next next
In my case I had to close some project as I was getting error during export.
Select all project in the **Runtime java workset** => Close project.

[2017-02-17 07:14] #5 closed, assigned to nobody

[2017-02-17 09:34] g1velo commented on #4
kirantpatil ,
 I have sent a new version which should allow to send commands to the Xbee device ( updating port in IOMode.DIGITALOUT.* mode ).

[2017-02-17 13:39] amarpulli1994 commented on #6
Hello @g1velo ,
Thanks for spend valuable time for me.I have done to build the jar file successfully and it is working fine (Discovering process). When I am  sending packets to End device, it will throws some warnings see as mentioned below

[code]
My Item Configuration  file:

`Switch  XbeeDIO11switch  "XbeeDIO11switch  "  (All)   { channel = "snavxbee2:sample:gateway:0013A20040E7782D:PWM0DIO10"

[2017-02-17 15:50] g1velo commented on #6
I changed the ESH-INF definition file to expected value. Hope this will work now.. let me know !

[2017-02-18 04:18] amarpulli1994 commented on #6
Hi, @g1velo
Yeah! sure I will test and let you know the results.
Thanks,
Amar.

[2017-02-18 06:34] amarpulli1994 commented on #6
Hi, @g1velo
I did refer and made modifications to  ESH-INF definition file. It happens while sending packet to the End device getting the warnings . see as mentioned below
[code]
My Item Configuration like:
`Switch  XbeeDIO11switch  "XbeeDIO11switch  "  (All)   { channel = "snavxbee2:sample:gateway:0013A20040E7782D:PWM0DIO10" }
`
My Thing Configuration  in demo.thing file :
[code]
here, what is th

[2017-02-20 06:53] amarpulli1994 commented on #6
Hello, @g1velo
This is how I define my thing file as mentioned below. Is that right ?
[code]
Here   `snavxbee2:sample:gateway:0013A20040E7782D ` is a End Device thing.
Thanks,
Amar.

[2017-02-20 09:54] g1velo commented on #6
Hi @amarpulli544
 Could you please try 2 things :

1. Remove the snavxbee2:sample:gateway:0013A20040E7782D  end device from the thing file.  use the discovery process to add it again.
 Or
2 update the snavxbee2:sample:gateway:0013A20040E7782D to :
Thing sample 0013A20040E7782D [ Xbee64BitsAddress="0013A20040E7782D" , IOChannel="123" ]
PS : IOChannel is unused..
So you file should look like :

[cod

[2017-02-20 13:15] amarpulli1994 commented on #6
Hi, @g1velo
I did work on
Case 1: I will removed the snavxbee2:sample:gateway:0013A20040E7782D end device from the thing file. I did  the discovery process to add it again.
In this case, it will not send any packets to End Device.
here is my log file:

[code]
Paper UI:

![xbee2](https://cloud.githubusercontent.com/assets/16384828/23125221/b1a6a0e0-f796-11e6-85c9-1ad36688b0f0.png)

Here is both Coo

[2017-02-20 14:10] g1velo commented on #6
So let's stick to case 1 using automatic discovery but be sure to clear all Xbee Devices from the thing list before. (except the gateway ).
Please use the very last version as I applied some changes to the code.

[2017-02-21 07:48] amarpulli1994 commented on #6
Hi, @g1velo
I build the new jar file of last source code. Here is my log file showing like this, while sending packets to End Device .

[code]
But I am not able to get any packets at End Device side in XCTU. see as below screen shot

![untitled](https://cloud.githubusercontent.com/assets/16384828/23154633/e109c846-f834-11e6-9c20-c66d509252db.png)

Any make changes at End Device side in XCTU?

End

[2017-02-21 10:16] g1velo commented on #6
Hi,
@amarpulli544
From what I see in the logs, it seems to work fine.
From the log :
12:48:50.575 [DEBUG] [xbee2.handler.SNAVXbee2BridgeHandler] - New sample receive
d from 0013A20040E7782D - {[DIO10/PWM0: High]}
Means that the device 0013A20040E7782D has sent a, IOSample packet with the information that DIO10/PWM0 has the value high.
So the binding is looking up in the item registry to find an It

[2017-02-21 11:23] amarpulli1994 commented on #6
Hello,@g1velo

 Once I send command through Karaf Console,  `smarthome:send XbeeDIO11switch ON`, it is updating only UI and not  the End Device.
User Interface:
![light](https://cloud.githubusercontent.com/assets/16384828/23162739/7e716e02-f855-11e6-8c13-2944fce0f7b4.png)

End Device  in XCTU:

![untitled](https://cloud.githubusercontent.com/assets/16384828/23162779/a25f1a80-f855-11e6-9089-9825bde

[2017-02-21 11:28] g1velo commented on #6
Amar,

mean that the DIO10/PWM0:  value is  High / ON

please try the OFF command and wait for a new sample to be sent by the end device

smarthome:send XbeeDIO11switch OFF

[2017-02-21 13:21] amarpulli1994 commented on #6
@g1velo

Just now I did check the both cases:
1.  smarthome:send XbeeDIO11switch ON , it has been working fine as per you saying, the values is DIO10/PWM0: value is High
[code]

2.   smarthome:send XbeeDIO11switch OFF, the values is DIO10/PWM0: value is Low

[code]
Thanks,
Amar.

[2017-02-21 14:53] g1velo commented on #4
@kirantpatil
please have a look at issue #6 , it should help you to send command to xbee device.

[2017-02-22 07:38] amarpulli1994 commented on #6
Hi ,@g1velo
I am trying to do adding new channels in thing-types.xml file under  `org.openhab.binding.snavxbee2/ESH-INF/thing/thing-types.xml`. Because my xbee device contains a DIO13 and DIO14 ports . Is there any possible to add channels? Please let me know the what I can do.
Thanks,
Amar

[2017-02-22 09:39] g1velo commented on #6
I can do this quite quickly, please open a new issue.
need to update thing-types.xml and SNAVXbee2BindingConstants

[2017-02-22 22:27] g1velo opened #7 "Adding all Xee supported port"
Adding all port as mentioned in :
http://ftp1.digi.com/support/documentation/html/90001439/com/digi/xbee/api/io/IOLine.html

DIO0_AD0
DIO1_AD1
DIO10_PWM0
DIO11_PWM1
DIO12
DIO13
DIO14
DIO15
DIO16
DIO17
DIO18
DIO19
DIO2_AD2
DIO3_AD3
DIO4_AD4
DIO5_AD5
DIO6
DIO7
DIO8
DIO9

[2017-02-28 14:28] amarpulli1994 opened #8 "Unable to Receive Packets from Coordinator"
Hello @g1velo,

I will send packets to End Device with updated source.  But unable to receive any packets from Coordinator in XCTU. Here is in my case coordinator as a User Interface.

My Item Configuration file:

`Switch  XbeeDIO11switch  "XbeeDIO11switch  "  (All)   { channel = "snavxbee2:sample:gateway:0013A20041268525:DIO14" }`

Here DIO14  is  packet received port at End Device.

My Thing Con

[2017-02-28 14:29] #6 closed, assigned to g1velo

[2017-03-01 09:54] g1velo commented on #8
Hi @amarpulli544
Can you explain to me on a high level what you want to do here. I'm not sure I get it.

Do you want to send ASCII commands to the serial port ?
The current setup only support setting DIO port to Low or high, nothing more.

If you want to send ASCII command to a XBee device , it is a bit more tricky as it will be very specific to the device you are using. I would need to know more

[2017-03-01 13:47] amarpulli1994 commented on #8
Hi @g1velo ,

I need to send ASCII's or strings through serial ports(DIN,DOUT) of XBEE, either using AT mode or API modes.
So that when i send data(ASCII) from COORDINATOR(XBEE) to END DEVICE(XBEE), it should receive through the Serial ports DIN and DOUT of END DEVICE.

Thanks,
Amar.

[2017-03-01 14:24] kirantpatil commented on #8
I believe it should be DIN rather DOUT.

[2017-03-01 14:51] g1velo commented on #8
Ok so make things clear : @amarpulli544   &  @kirantpatil .

You have a controller attached behind  a Xbee End device.

To make this work we need to know which ASCII command should be sent from the OH2/coordinator to the controller attached.
We do also need to know what are the commands sent by your controller and how to parse this commands and how to mach it against the thing registry.

Once we k

[2017-03-02 05:44] amarpulli1994 commented on #8
Hello @g1velo ,

I want to  turn ON particular Switch. Here in my case number of Switches. My Switches configured like this
[code]
So i need to send  ASCII Commands  to  End Device like this   `S1=ON` , `S1=OFF`, `S2=ON` , `S2=OFF`,
`S3=ON` , `S3=OFF`

Thanks,
Amar.

[2017-03-02 13:58] g1velo commented on #8
Is that the full list of switches you would like to activate/deactivate ?

[2017-03-02 14:05] kirantpatil commented on #8
To start with we would like to go with Switch item, if that works then we can keep adding new item types (dimmer, color and so on).

[2017-03-02 14:24] g1velo commented on #8
I made the modifications.
the thing should be set as :
Living_S1   "living_light1"      {  channel = "snavxbee2:cafe1000:gateway:0013A20041268525:S1" }

If you want to use discovery, you will have to set the DD of the XBee end device to the value : CAFE1000.
THis will let the discovery know what to do with the controller.
Let me know
Regards

[2017-03-02 16:27] kirantpatil commented on #8
Sure Sir thanks. We will try and get back to you.

On Mar 2, 2017 7:54 PM, "g1velo" <notifications@github.com> wrote:

[2017-03-03 09:34] kirantpatil commented on #8
It is working fine. For receiving part our team will work on it and submit the pull request. Thanks a lot.

[2017-03-03 09:40] #7 closed, assigned to g1velo

[2017-03-03 12:05] amarpulli1994 commented on #8
Hi @g1velo ,

  We would like to work on receiving part of SNAVXbee2 .I need some suggestions to develop receiving part ,then how to proceed with that?  Once I will send packet to End Device from Coordinator, its working fine. But End Device  receiving two packets at a time.Please let me know the suggestions.

Thanks,
Amar.

[2017-03-03 12:22] g1velo commented on #8
Hi Amar,

If I understand you well :

- You are able to send command from (OH2/COORDINATOR) to the Xbee End Device, nut you see duplicate packets arriving ?

- When you are talking about the receiving part ? What does it mean ? From end device to OH2 ?

[2017-03-03 12:26] amarpulli1994 commented on #8
Yes sir, I need to send packets from End Device to Coordinator/OH2.

[2017-03-03 12:32] g1velo commented on #8
ok so you need to have a look at :
SNAVXbee2BridgeHandler.dataReceived(XBeeMessage) method.

And you will need to update the section

You will probably need to create a Java class that will parse the received message and decide which channel to update with which value.
.

[2017-03-04 04:53] amarpulli1994 commented on #8
Hello @g1velo ,

Thanks for suggestions . How can I update the method

[code]
Any problem with duplicating packet?
Where to create java class in SNAVXbee2 binding?

Thanks,
Amar.

[2017-03-04 05:26] kirantpatil commented on #8
Hello @amarpulli544,

Please understand the source code and its flow first.

You end up adding code without understanding it and how it works as a whole.

Thanks.

[2017-03-04 05:41] kirantpatil commented on #8
Also you can see from MANIFEST file, how it uses ESH framework and DIGI Xbee library api.

[2017-03-07 10:18] g1velo commented on #8
Hi @amarpulli544
Have a look at what is done in the

Section.

thingToUpdate = thing;

Represent the thing with the matching 64 bit address.
So the next step are ::

- parse the incoming message.

- Find which is the channel to update ( from the thingToUpdate using thingToUpdate.getChannels() method )
- Update the thing channel using          updateState(actionToPerform.getChannelUIDToUpdate(), ac

[2017-03-07 13:33] amarpulli1994 commented on #8
Hi @g1velo ,

Thanks for your suggestions. So that I need to update DD parameter at Coordinator/OH2?

Thanks,
Amar.

[2017-03-07 13:39] g1velo commented on #8
You need to update DD to value CAFE1000 on the end Device. This will let the discovery process guess what king of device is attached behind the Xbee End Device.

[2017-03-07 14:19] amarpulli1994 commented on #8
Discovery process and sending packets are working fine.
But here we should reply back to Coordinator from End device.
Present binding supports for only one-way communication. Not been working for two-way communication. example I will send  packet from Coordinator to End Device like  either `S1=ON` or `S1=OFF`
here we should reply back to Coordinator from End Device like  either `S1=OFF` or `S1=ON`

[2017-03-08 06:46] amarpulli1994 commented on #8
Hi @g1velo ,

I should created a new java class for parsing incoming messages. Here existing parsing class method like this

` public Tosr0xTparser(Thing thingToUpdate, XBeeMessage xbeeMessage)  `

In above method just pass the ` XBeeMessage xbeeMessage`  parameter only  ,but here in my case what i need to pass it?

my method like this:   `public Tosr0xTReceive(Thing thingToUpdate, String xbeeComm

[2017-03-09 07:24] amarpulli1994 commented on #8
Hi @g1velo ,

See my method like this

[code]

Here Tosr0xTReceive is java class for parsing incoming messages.

How to represent the thing with matching 64 bit Address ? Where to represent the thing with matching 64 bit Address in SNAVXbee2BridgeHandler.dataReceived(XBeeMessage) method ?

but it's doesn't work for me.

Thanks,
Amar.

[2017-03-09 14:30] g1velo commented on #8
@amarpulli544
THe X64bitaddress is matched in an earlier if :

So... it should be already done. Feel free to add some logging to make sure that the match is occuring.

Just one remark  class name you choose is not really the best you could have.  Nothing really bad but you should choose a different name.

[2017-03-09 14:48] amarpulli1994 commented on #8
@g1velo

So that I need to update  like this

[code]

Is it right to update? I need to  parsing incoming message in Tosr0xTparser class.

Thanks,
Amar.

[2017-03-09 15:21] g1velo commented on #8
You need to create a new class just like the  Tosr0xTparser but it has to be specific with what you want to do with your message, and only you know that.
Your class could ne named something like : Cafe1000Parser, just a suggestion...

[2017-03-09 15:35] amarpulli1994 commented on #8
@g1velo

 I will send the command like  `S1=ON`.
If  `S1=ON` then i need to send `S1=OFF` from End Device  to Coordinator/OH2. Here in my case we could also do the debugging and Coordinator receiving the data from End Device. But it will not update in karaf command.
So that i need to update this section only

[code]
 Thanks,
Amar.

[2017-03-09 15:48] g1velo commented on #8
@amarpulli544
Just to make sure  : don't update the Tosr0xTparser class. Please create your own.

If your goal is just debugging and logging incoming message ( from end device to coordinator ), use logger.debug(.... ) in the  if (thing.getThingTypeUID().equals(THING_TYPE_CAFE1000)) {

section.

[2017-03-09 16:30] amarpulli1994 commented on #8
@g1velo

I am not updating the Tosr0xTparser class. I need to create a java class like Tosr0xTparser class, but here make a some modifications. Here is incoming message  means
if  i will  send `S1=ON` message to End device from Coordinator/OH2.
Then  i need to send message `S1=OFF` to Coordinator/OH2  from End device.

Thanks,
Amar.

[2017-03-10 08:40] amarpulli1994 commented on #8
Hello @g1velo ,

  Coordinator  unable to  receive the packet from the End device while testing in Karaf Command prompt. It is been working fine  in Eclipse IDE while testing in Debugging Mode or Runtime. Here i get the packet from end device like this

`2017-03-10 13:40:44.103 [INFO ] [xbee.api.connection.DataReader:743  ] - [COM3 - 9600/8/N/1/N] Data received from 0013A20040E7782D >> 53 32 3D 4F

[2017-03-10 10:45] amarpulli1994 commented on #8
@g1velo

I could create a cafe1000msg and Cafe1000parser classes for parsing  incoming  messages just like Tosr0xTparser and Tosr0xTMsg. Here I will send packet to  End device from Coordinator . Receiving packet is Successfully.  see as mentioned below

[code]

When I will send packet to Coordinator from End device. see as my log files

[code]

Thanks,
Amar.

[2017-03-10 14:00] g1velo commented on #8
@amarpulli544

Amar, You have to create your own parser.
 You receive a message eg : "S1=ON"
you have to send back object type ArrayList of ChannelActionToPerform  => which has attribute _channelUIDToUpdate_ and _state_

From here the Bridge will know what to do and will update the Item State.

[2017-03-10 14:28] amarpulli1994 commented on #8
@g1velo

Yes I created my own class. But here I can't understand the how to parsing message? this is the parsing code

` channelActionToPerform.setState(new DecimalType(Double.valueOf(new String(xbeeMessage.getData()))));`

Here I receive the value like this
 eg: " S1=OFF"  (53 31 3D 4F 46 46)

Incoming message like this
xbeeMessage = 53 31 3D 4F 46 46
getting the value in Hexa, then how can parsi

[2017-03-10 14:44] g1velo commented on #8
@amarpulli544
I see.
If you use xbeeMessage.getData(), you will be able to get the string value S1=0FF
Then that's you job to parse it correctly and detect which channel you have to update and which value State to assign to the channel..

[2017-03-10 14:51] amarpulli1994 commented on #8
@g1velo

I tried OnOfftype instead of DecimalType, but it won't work. I am facing the parsing issue in my case. Please let me know the how to parse it correctly.

Thanks,
Amar.

[2017-03-10 14:59] g1velo commented on #8
String toto = new String(xbeeMessage.getData())
toto string should be : S1=0FF
Parse toto variable

[2017-03-10 16:31] amarpulli1994 commented on #8
@g1velo

Thanks for suggestions. I will test with your suggestion and get back to you.

Thanks,
Amar

[2017-03-11 06:49] amarpulli1994 commented on #8
Hi @g1velo ,

We did tested with parsing of incoming message, but here not updating the User Interface(Habpanel UI) Switch State.
Here how to parsing of incoming message

[code]
The above section do the parsing of incoming message correctly .

When I will send packet to End device from Coordinator, it's been working fine. see as my log files

[code]
Packet Receiving at End Device in XCTU.

![rex](

[2017-03-13 07:31] amarpulli1994 commented on #8
@g1velo

Here bridge handler get the data from end device like this

[code]
but it won't update state at user inteface (Habpanel UI). I thought we need to write some code stuff in Bridge Handler class for the update state.
Here we need to send update state  to Handler class from Bridge. It's my assumption.
Please let me know the what is right way to do?

Thanks,
Amar.

[2017-03-14 13:24] amarpulli1994 commented on #8
Hello @g1velo ,

   We did finished receiving  part in our binding. It's been  working fine.Thanks for giving suggestions @g1velo . We will work on some other kind of items by using our binding.

Thanks,
Amar.

[2017-03-14 15:25] g1velo commented on #8
Hi @amarpulli544
Cool !
btw : I have figured out why the command is sent twice to the end device and it will be corrected in a later version.

[2017-03-15 11:54] amarpulli1994 commented on #8
Hi @g1velo ,

I would like to add multiple items to the one channel like if i want control all type of items through one channel like S1 (SwitchItem, Number, Color,etc).
[code]
Here in our case S1 having a SwitchItem only. Data received part working fine. But here we get the some issue like this
`Received update of a not accepted type (StringType) for item DemoSwitch`

while receiving data from en

[2017-03-15 12:38] g1velo commented on #8
About the UI not updating correctly, I would thing that the problem is outside the binding. To check run in karaf
_smarthome status Itemname_
This will let you know what is the value status, it could be a refresh problem.

For your main question, One channel can be linked to one Item which can be only one itemtype.

You have to handle this in the Thinghandler / handleCommand method just like you a

[2017-03-15 13:20] amarpulli1994 commented on #8
We would like to control multiple item types through one channel like

`Switch    DemoSwitch               "Switch"         { channel = "snavxbee2:cafe1000:gateway:0013A20041268525:S1" }`

`Color     DemoColor           "democolor"         { channel = "snavxbee2:cafe1000:gateway:0013A20041268525:S1" }`

`Number   DemoDoor            "demodoor"         { channel = "snavxbee2:cafe1000:gateway:0013A2

[2017-03-16 09:40] g1velo commented on #8
Amar,

 I think that one channel can be linked to one item/itemtype. You should create other channel S2 S3 ..... that will be linked other items/itemtypes

[2017-03-16 09:55] amarpulli1994 commented on #8
Hi @g1velo

We did tested on one channel can be linked multiple item/itemtype. It's working fine.
Right now i am working on RGB Light control. We could solve the  another issue is the end device getting packets twice. Now End device receiving one packet only .

Thanks,
Amar.

[2017-03-16 12:24] kirantpatil opened #9 "Event to update items"
Hi @g1velo,

Why there is no usage of Events to update items ?

Thanks.

[2017-03-16 12:27] kirantpatil commented on #9
Below is code from [openhab-1 addon](https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.diyonxbee/src/main/java/org/openhab/binding/diyonxbee/internal/DiyOnXBeeBinding.java).

[code]

[2017-03-16 13:44] g1velo commented on #9
Hi,
 I took as an example the YahooWeather binding where :
updateState(channelUID, getTemperature());

Is used. I have seen no mention of eventPublisher in OH2 binding, but I am not expert enough to tell if we should use it.

In my case the updateState call works fine an items are updated.
You can try to run :
smarthome:status ItemName

TO check is it is updated.

[2017-03-20 11:51] kirantpatil commented on #9
Yes, events are getting generated. Somehow I overlooked it. Thanks.

[2017-03-20 11:51] #9 closed, assigned to nobody

[2017-03-25 12:57] g1velo commented on #8
Great ! Closing this issue !

[2017-03-25 12:57] #8 closed, assigned to nobody

[2017-06-01 08:56] amarpulli1994 opened #10 "Unable to load SNAVXBee2 binding in Eclipse Smart Home"
Hello @g1velo,

I am trying to load snavxbee2 binding of jar file into Eclipse smart home. When I could run the Eclipse Smart Home Server, jar file doesn't Active in ESH.
log file:

[code]
bundle list

[code]
How I could resolve this issues.

Thanks,
Amar.

[2017-06-01 12:14] kirantpatil commented on #10
I believe it is issue in Windows maven installer. In Ubuntu it loads and shows "Active" state. Please try it wit other version of Maven or on Ubuntu.

[2017-06-02 12:21] maggu2810 commented on #10
The error message states that the wiring for package "org.openhab.core.items" fails.
So, check if you have installed the openHAB Bundle that export that package (I assume the core one).

If you want to use openHAB bundles, you should (perhaps) use the openHAB distribution.

[2017-06-02 13:15] amarpulli1994 commented on #10
Thanks @maggu2810 ,
Now it's working fine for me.
 I just remove `org.openhab.core.items` from my manifest file.
Thanks and Regards,
Amar.

[2017-06-02 13:26] maggu2810 commented on #10
The manifest file has to contain all packages in its Import-Package section that needs to be imported...

If there are entries in the manifest that are not needed they should be removed.
If you remove it from the manifest file but the package is used at some time then the wiring will succeed, but you will receive an exception on runtime.

[2017-06-03 05:22] #10 closed, assigned to nobody

[2017-12-02 05:05] amarpulli1994 opened #11 "How much time to take binding from initializing to online state in Eclipse smart home"
Hello @g1velo ,

I need to know how long SNAVXbee2 binding will take from initializing to online state in Eclipse Smart Home.
I did tested different cases. When I could turn off both Eclipse Smart home Server and Xbee Devices at a time. Now I should turn on first ESH Server and then turn on Xbee devices.
But here the binding still showing it as a Initializing state.
Some cases binding going to be

[2017-12-05 10:29] g1velo commented on #11
Hi Amar,
Not sure I do understand everything.
Today's binding  behavior :
in its initialize() method, the SNAVXbee2BridgeHandler class, makes sure that the select com port is open, launching a discovery.  the binding will update the thing ( The coordinator ) to On-line.
Then  the framework  will launch the initialize() methods of each things.

In your comments, you mention the binding being on-lin

[2017-12-05 13:01] amarpulli1994 commented on #11
@g1velo ,

I understood at initialize method() in SNAVXbee2BridgeHandler class. As per my understanding I have  adding  some piece of code in SNAVXbee2Handler class. Below code to  represents a thing refresh automatically

[code]
So when the power goes off (CAFE1001 devices), it should be changing from online to initializing state.
I have one more thing ask to you.
When we are getting the data fro

[2017-12-05 14:12] g1velo commented on #11
Hi Amar,

As currently designed the Framework has no way to know that your ( remote ) XBee devices has been powered off. So the Framework will keep it ONLINE as long as someone ( the handler ) tells him to put it offline using

you could/should  use SNAVXbee2Handler startAutomaticRefresh(); methods to periodically check if your (remote) XBee device is alive or not and then use UpdateStatus to tell

[2018-06-25 07:08] amarpulli1994 opened #12 "Compile new java class into xbee binding"
Hi @g1velo ,
                   I am trying to create a new java class which is communicating with google iot. I have done successfully created new java class into xbee binding. When I was trying to compile xbee binding, the newly created java class doesn't compiled. I would like know the what is the issue with that? I just want run  and compile simple java class like print  the "hello world" mess

[2018-06-27 11:41] #12 closed, assigned to nobody

[2018-08-24 04:30] amarpulli1994 opened #13 "Does this binding support for Zigbee Devices."
Hi @g1velo ,

I would like to know this binding support for zigbee devices like CC2538, CC2531 zigbee devices.
Is there any difference between xbee devices and CC2538 devices. These devices belongs to TI.
Can you please share us information, meanwhile i am also trying to understand devices communication.
Awaiting for your response.

Thanks and Regards,
Amar Pulli.

[2018-08-24 08:47] g1velo commented on #13
Amar,
 I never worked with this CC253X devices a from TI, so I a am not 100% sure that what I am going to write is right.

 Zigbee is supposed to be a standard protocol letting different devices interact.

What I would try :

- Use XCTU and make sure if we can interact with the device.

- Check if discovery works in Openhab using the binding.

Stephan

[2018-08-24 08:53] #11 closed, assigned to nobody

[2018-08-24 09:18] amarpulli1994 commented on #13
Thanks for quick reply. Yes, your are right Zigbee is a standard protocol. I thought this binding also support to CC2538 devices. CC2538  devices comes under zigbee family. Their using MT Commands to send packets from coordinator to end device.

Amar.

[2018-08-24 12:25] g1velo commented on #13
I just never tried it as I never had TI devices in my hands.
 I am not sure what MT commands means.
I assume that you should instantiate a com.digi.xbee.api.RemoteZigBeeDevice class and use sendata( method )

[2018-08-27 07:19] amarpulli1994 commented on #13
Hi @g1velo
Sorry for late reply. I am on the leave.
MT Commands in the sense like AT and API Commands in Zigbee.
I had checked  com.digi.xbee.api.RemoteZigBeeDevice class and use sendata( method ) in your binding.
I didn't get send method.

Thanks,
Amar.

[2018-09-04 10:31] amarpulli1994 opened #14 "Item states doesn't stored into MapDB."
Hi @g1velo ,

I have integrated mapdb into my workspace. When I test with hardware (xbee devices) got a issue in xbee binding.

[code]
I have observed these two lines in a log files.

[code]
How to overcome this issue. Awaiting your response.

Best Regards,
Amar.

[2018-09-04 11:48] #14 closed, assigned to nobody

[2020-01-31 10:01] Bhavana-S opened #15 "Not able to update end device received command"
Hi,
     I am currently working on re-integrating the esh things with openhab runtime.
I am using the openhab-runtime 2.5.0, where i will have to use snavxbee2 binding to communicate with my zigbee co-ordinator and zigbee end-device, which was working fine with esh runtime.

By using this snavxbee2 binding I am able to discover the end-device, send command to the end-device.

But the problem is wh

[2020-02-03 10:38] g1velo commented on #15
Hi , Bhavana-S,

Can you please check with Karaf the result of :

this should let you know which item is linked to snavxbee2:cafe1001:gateway:0013A20041AE0559:S1 channel.

then :

Hope this helps
Right now I am struggling  with upgrading to 2.5 IDE binding. .....

[2020-02-04 05:53] Bhavana-S commented on #15
Thanks for the reply

Sir, as i said I am able to debug through the binding Snavxbee2 by including logger.debug through the code.

So what I can find out is the data from end device is received to the openhab server, with the proper itemname, channel id. and item state. But the proper data received from the end-device is not updating the item state at the point updateState() in the dataReceived()

[2020-02-19 10:36] Bhavana-S commented on #15
Hi,
    Sir

Is there any updation on this. Or when can we expect this binding new release according to the new openhab-runtime build system

[2020-03-02 09:06] g1velo commented on #15
So far I have not been able to move to 2.5.
But I suspect that you problem is different. I see that you are using a device : ' Cafe1001' which was not designed by myself. I assume that you are working with  amarpulli1994 .
As I don't have access to your code it is a big difficult to help you..